Repository Indicio-tech/isomdl-uniffi: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

cargo-check:
  name: Cargo Check (Rust crate)
  entry: cargo check
  language: system
  pass_filenames: false
  stages:
  - commit

cargo-test:
  name: Cargo Test (Rust tests)
  entry: cargo test
  language: system
  pass_filenames: false
  stages:
  - commit

cargo-fmt-check:
  name: Cargo Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false
  stages:
  - commit

python-bindings-build:
  name: Build Python Bindings
  entry: ./python/precommit/build-bindings.sh
  language: system
  pass_filenames: false
  stages:
  - commit

python-tests:
  name: Run Python Tests
  entry: ./python/precommit/run-tests.sh
  language: system
  pass_filenames: false
  stages:
  - commit

fix: add --system flag to uv pip install commands in CI workflows
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
Due: none

perf: optimize CI workflows to build bindings once per platform
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix: remove deprecated --config flag from cargo audit command
  .github/workflows/ci.yml
  rust/.cargo-audit.toml
Due: none

perf: speed up cargo-audit installation with pre-compiled binaries
  .github/workflows/ci.yml
Due: none

fix: add RUSTSEC-2022-0040 to security audit ignore list
  rust/.cargo-audit.toml
Due: none

Fix Python test path calculation and CI artifact handling
  .github/workflows/ci.yml
  python/precommit/build-bindings.sh
  python/precommit/run-tests.sh
  python/tests/run_tests.py
Due: python-tests

feat: removed codecov
  .github/CI_CD_SETUP.md
  .github/workflows/ci.yml
  README.md
Due: none

Fix security audit by ignoring known transitive dependency vulnerabilities
  .github/workflows/ci.yml
  rust/.cargo-audit.toml
Due: none

Remove redundant PR check workflow
  .github/workflows/pr-check.yml
Due: none

Improve Python bindings build with enhanced debugging
  .github/workflows/ci.yml
  python/precommit/build-bindings.sh
Due: none

Format Python test files with Black
  python/tests/run_tests.py
  python/tests/test_basic_functionality.py
  python/tests/test_complete_workflow.py
  python/tests/test_integration.py
  python/tests/test_mdoc_operations.py
  python/tests/test_presentation_session.py
  python/tests/test_reader_functionality.py
  python/tests/test_selective_disclosure.py
Due: python-tests

Fix Python linting issues in test files
  python/tests/run_tests.py
  python/tests/test_basic_functionality.py
  python/tests/test_complete_workflow.py
  python/tests/test_mdoc_operations.py
  python/tests/test_selective_disclosure.py
Due: python-tests

feat: improved tests
  python/tests/run_tests.py
  python/tests/test_basic_functionality.py
  python/tests/test_complete_workflow.py
  python/tests/test_integration.py
  python/tests/test_mdoc_operations.py
  python/tests/test_presentation_session.py
  python/tests/test_reader_functionality.py
  python/tests/test_selective_disclosure.py
Due: python-tests

feat: black check
  python/tests/test_basic_functionality.py
  python/tests/test_complete_workflow.py
  python/tests/test_integration.py
  python/tests/test_mdoc_operations.py
  python/tests/test_presentation_session.py
  python/tests/test_reader_functionality.py
  python/tests/test_selective_disclosure.py
  python/uv.lock
Due: python-tests

fix: correct path to lock
  .github/workflows/ci.yml
Due: none

Restructure Python package to python/ subdirectory
  .github/workflows/release.yml
  build.py
  python/isomdl_uniffi/__init__.py
  python/pyproject.toml
  python/setup.py
Due: none

Move Python package to python/ subdirectory
  python/INSTALL.md
  python/build-python-bindings.sh
  python/build.py
  python/isomdl_uniffi/__init__.py
  python/isomdl_uniffi/isomdl_uniffi.py
  python/isomdl_uniffi/libisomdl_uniffi.dylib
  python/setup.py
  python/test-bindings.py
  python/uv.lock
Due: none

fix: remove extra dco check
  .github/workflows/ci.yml
Due: none

fix: invalid cache
  .github/workflows/ci.yml
Due: none

Fix Python code formatting with black
  .github/workflows/ci.yml
Due: none

Fix black formatting for test_complete_workflow.py
  python/tests/test_complete_workflow.py
Due: python-tests

Fix flake8 F821 errors by ignoring undefined names from dynamic imports
  .github/workflows/ci.yml
  python/tests/test_complete_workflow.py
Due: python-tests

Fix CI pipeline by disabling uv cache
  .github/workflows/ci.yml
Due: none

Fix integration test path to Python bindings
  .github/workflows/ci.yml
Due: none

Optimize integration tests to reuse pre-built bindings
  .github/workflows/ci.yml
Due: none

Fix integration test function call for selective disclosure tests
  .github/workflows/ci.yml
Due: none

feat: Add third-party license attribution for Spruce Systems dependencies
  LICENSE-APACHE
  LICENSE-MIT
  README.md
  THIRD_PARTY_LICENSES.md
Due: none

docs(project): Add community and project metadata files
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  python/pyproject.toml
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests

feat: update support email
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  python/pyproject.toml
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests

fix: removed ci cd doc
  .github/CI_CD_SETUP.md
Due: none

fix: removed dco doc
  .github/DCO.md
Due: none

fix: drop develop branch check
  .github/workflows/ci.yml
Due: none

fix: description language agnostic
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests

fix: remove deprecated api call
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

fix: remove MinimalEcJwk dead code
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

fix: clean up deps
  rust/Cargo.lock
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests

fix: delete audit config that was acting as doc
  rust/.cargo-audit.toml
Due: none

fix: update python
  .github/workflows/ci.yml
Due: none

fix: rust test formatting
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

Add GitHub workflow PR checks for Kotlin with Android NDK support
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  kotlin/build.gradle.kts
Due: none

Path conditions:
  cargo-check: any of: \.rs$|Cargo\.(toml|lock)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock)$
  cargo-fmt-check: any of: \.rs$
  python-bindings-build: any of: \.rs$|Cargo\.(toml|lock)$|uniffi-bindgen\.rs$
  python-tests: any of: \.rs$|Cargo\.(toml|lock)$|^python/tests/.*\.py$
