Repository Indicio-tech/isomdl-uniffi: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

.pre-commit-config.yaml:

# Pre-commit hooks for isomdl-uniffi
# Install with: pip install pre-commit && pre-commit install

repos:
  # Rust checks
  - repo: local
    hooks:
      - id: cargo-check
        name: Cargo Check (Rust crate)
        entry: bash -c "cd rust && cargo check"
        language: system
        files: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$
        pass_filenames: false
        stages: [pre-commit]

      - id: cargo-test
        name: Cargo Test (Rust tests)
        entry: bash -c "cd rust && cargo test"
        language: system
        files: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$
        pass_filenames: false
        stages: [pre-commit]

      - id: cargo-fmt-check
        name: Cargo Format Check
        entry: bash -c "cd rust && cargo fmt -- --check"
        language: system
        files: ^rust/.*\.rs$
        pass_filenames: false
        stages: [pre-commit]

  # Python bindings build check
  - repo: local
    hooks:
      - id: python-bindings-build
        name: Build Python Bindings
        entry: ./python/precommit/build-bindings.sh
        language: system
        files: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^rust/uniffi-bindgen\.rs$
        pass_filenames: false
        stages: [pre-commit]

  # Python tests
  - repo: local
    hooks:
      - id: python-tests
        name: Run Python Tests
        entry: ./python/precommit/run-tests.sh
        language: system
        files: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^python/tests/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

  # Kotlin/Android checks
  - repo: local
    hooks:
      - id: kotlin-build-check
        name: Kotlin Build Check
        entry: bash -c "cd kotlin && ./gradlew compileKotlinJvm --no-daemon"
        language: system
        files: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^kotlin/.*\.(kt|gradle)$|^kotlin/gradle\.properties$
        pass_filenames: false
        stages: [pre-commit]

      - id: kotlin-android-check
        name: Kotlin Android Build Check
        entry: bash -c "cd kotlin && ./gradlew compileDebugSources --no-daemon"
        language: system
        files: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^kotlin/.*\.(kt|gradle)$|^kotlin/gradle\.properties$
        pass_filenames: false
        stages: [pre-commit]

  # Python checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$|^rust/tests/res/
      - id: end-of-file-fixer
        exclude: ^rust/tests/res/
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        name: ruff check
        files: ^python/.*\.py$
        args: [--fix]
      - id: ruff-format
        name: ruff format
        files: ^python/.*\.py$

fix: use gh release upload instead of softprops action for wheel uploads
  .github/workflows/release.yml
Due: none

fix: remove needless Ok wrapping to fix clippy needless_question_mark lint
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: pass --repo flag to gh release upload (no git checkout in upload job)
  .github/workflows/release.yml
Due: none

fix: Replace custom build script with standard setuptools integration
  python/pyproject.toml
  python/setup.py
Due: none

fix: Only cross-compile on macOS, use native build on Linux
  python/setup.py
Due: none

fix: Remove python-source from maturin config
  python/pyproject.toml
Due: none

feat: Switch to maturin for Python wheel building
  .github/workflows/ci.yml
  .github/workflows/release.yml
  python/README.md
  python/pyproject.toml
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: Add module-name to maturin config
  python/pyproject.toml
Due: none

fix: Build separate macOS wheels for Intel and ARM
  .github/workflows/release.yml
Due: none

fix: Update macOS build conditionals for separate Intel/ARM wheels
  .github/workflows/release.yml
Due: none

fix: Use macos-15-intel runner (macos-13 is deprecated)
  .github/workflows/release.yml
Due: none

fix: Include __init__.py in wheel builds
  .gitignore
  python/isomdl_uniffi/__init__.py
Due: none

fix(maturin): include Python source files in wheel build
  python/pyproject.toml
Due: none

fix(maturin): remove python-source to fix wheel structure
  python/pyproject.toml
Due: none

fix: use importlib to load bindings module explicitly
  python/isomdl_uniffi/__init__.py
Due: none

fix: include generated Python bindings in repo for reliable wheel builds
  .gitignore
  python/isomdl_uniffi/__init__.py
  python/isomdl_uniffi/isomdl_uniffi.py
Due: none

fix: symlink native library for importlib-based loading
  python/isomdl_uniffi/__init__.py
Due: none

fix: extend DS cert validity to 10 years and derive subject from IACA cert
  python/tests/test_chaining.py
  rust/src/mdl/mdoc.rs
  rust/src/mdl/util.rs
  rust/tests/intermediate_chaining.rs
  typescript/tests/credo_oid4vp.test.ts
  typescript/tests/generate_device_response.test.ts
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: apply rustfmt, upgrade time crate, ignore bincode unmaintained advisory
  .github/workflows/ci.yml
  rust/Cargo.lock
  rust/src/mdl/mdoc.rs
  rust/src/mdl/util.rs
  rust/tests/intermediate_chaining.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: add --out target/wheels to maturin build and add RUSTSEC-2026-0007 to audit ignore
  .github/workflows/ci.yml
Due: none

fix: run import test from /tmp to avoid local src shadowing installed wheel
  .github/workflows/ci.yml
Due: none

fix: use Rust 2024 edition implicit ref bindings in match patterns
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: inject placeholder deviceSigned for issuer-only OID4VP credentials
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix(reader): normalize empty issuerSigned nameSpaces before parsing
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

style(mdoc): apply cargo fmt formatting
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

refactor(mdoc): accept JSON strings instead of CBOR bytes in create_and_sign namespaces
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat(mdoc): add issuer_signed_b64() for ISO 18013-5 compliant CBOR output
  python/tests/test_mdoc_operations.py
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

style(tests): apply ruff format to test_mdoc_operations.py
  python/tests/test_mdoc_operations.py
Due: python-tests

fix(kotlin): update generateMdl test to use createAndSignMdl API
  kotlin/src/commonTest/kotlin/tech/indicio/isomdl_uniffi/Test.kt
Due: kotlin-build-check, kotlin-android-check

fix(bindings): regenerate python bindings for create_and_sign string API and issuer_signed_b64
  python/isomdl_uniffi/isomdl_uniffi.py
Due: none

fix(bindings): fix subscripted generics in isinstance checks for MDocItem
  python/isomdl_uniffi/isomdl_uniffi.py
Due: none

feat: support for oid4vp holder flows
  kotlin/build.gradle.kts
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/oid4vp/mod.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: propagate descriptive error messages in MdocInitError::GeneralConstructionError
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix(bindings): update GeneralConstructionError Python bindings to include String field
  python/isomdl_uniffi/isomdl_uniffi.py
Due: none

feat: expose prepare/complete signing flow via UniFFI
  .gitignore
  python/isomdl_uniffi/isomdl_uniffi.py
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat: add PreparedMdoc::new_mdl() for ISO-compliant mDL CBOR field typing
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: replace subscripted generic isinstance checks in MDocItem Python bindings
  python/isomdl_uniffi/isomdl_uniffi.py
Due: none
