Repository Indicio-tech/isomdl-uniffi: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

cargo-check:
  name: Cargo Check (Rust crate)
  entry: cargo check
  language: system
  pass_filenames: false
  stages:
  - commit

cargo-test:
  name: Cargo Test (Rust tests)
  entry: cargo test
  language: system
  pass_filenames: false
  stages:
  - commit

cargo-fmt-check:
  name: Cargo Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false
  stages:
  - commit

python-bindings-build:
  name: Build Python Bindings
  entry: ./python/precommit/build-bindings.sh
  language: system
  pass_filenames: false
  stages:
  - commit

python-tests:
  name: Run Python Tests
  entry: ./python/precommit/run-tests.sh
  language: system
  pass_filenames: false
  stages:
  - commit

Improve GitHub workflows with Android compilation checks
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  rust/Cargo.lock
Due: cargo-check, cargo-test, python-bindings-build, python-tests

Improve CI workflow caching and consistency
  .github/workflows/ci.yml
Due: none

Standardize debug artifact blocks across CI jobs
  .github/workflows/ci.yml
Due: none

Fix release workflow: remove circular triggers and modernize
  .github/workflows/release.yml
Due: none

feat: enhance pre-commit hooks with Kotlin build checks and improved file patterns
  .pre-commit-config.yaml
Due: none

style: apply formatting improvements from pre-commit tools
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  LICENSE-APACHE
  LICENSE-MIT
  README.md
  SECURITY.md
  THIRD_PARTY_LICENSES.md
  kotlin/.gitignore
  kotlin/build.gradle.kts
  kotlin/gradle.properties
  kotlin/settings.gradle.kts
  kotlin/src/androidUnitTest/kotlin/tech/indicio/isomdl_uniffi/Test.android.kt
  kotlin/src/commonMain/kotlin/tech/indicio/isomdl_uniffi/uniffiStack.kt
  kotlin/src/commonTest/kotlin/tech/indicio/isomdl_uniffi/Test.kt
  kotlin/src/iosTest/kotlin/tech/indicio/isomdl_uniffi/Test.ios.kt
  python/INSTALL.md
  python/README.md
  python/build-python-bindings.sh
  python/tests/README.md
Due: none

refactor: replace Black and Flake8 with Ruff for Python linting and formatting
  .pre-commit-config.yaml
  python/build.py
  python/isomdl_uniffi/isomdl_uniffi.py
  python/pyproject.toml
  python/setup.py
  python/test-bindings.py
  python/tests/run_tests.py
  python/tests/test_basic_functionality.py
  python/tests/test_complete_workflow.py
  python/tests/test_integration.py
  python/tests/test_mdoc_operations.py
  python/tests/test_presentation_session.py
  python/tests/test_reader_functionality.py
  python/tests/test_selective_disclosure.py
Due: python-tests

fix: properly configure Ruff to exclude auto-generated files and fix lint issues
  .pre-commit-config.yaml
  python/pyproject.toml
  python/setup.py
  python/tests/test_complete_workflow.py
  python/tests/test_reader_functionality.py
Due: python-tests

docs(contributing): add Kotlin/Android development prerequisites
  CONTRIBUTING.md
Due: none

docs(contributing): add Kotlin build and test instructions
  CONTRIBUTING.md
Due: none

docs: update tooling documentation to reflect ruff migration
  CONTRIBUTING.md
  README.md
  python/precommit/README.md
Due: none

docs: enhance documentation with comprehensive Kotlin support
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

docs(python): update README to reflect actual directory structure
  python/README.md
Due: none

chore: remove build artifacts from git tracking
  .gitignore
  python/isomdl_uniffi/__init__.py
  python/isomdl_uniffi/isomdl_uniffi.py
  python/isomdl_uniffi/libisomdl_uniffi.dylib
  python/uv.lock
Due: none

refactor: consolidate build system and add UV support
  CONTRIBUTING.md
  README.md
  python/INSTALL.md
  python/README.md
  python/build-python-bindings.sh
  python/build.py
  python/precommit/build-bindings.sh
  python/pyproject.toml
  python/setup.py
Due: none

docs: update Python version requirement from 3.8+ to 3.9+
  CONTRIBUTING.md
  README.md
  python/INSTALL.md
  python/pyproject.toml
  python/setup.py
Due: none

refactor: eliminate build logic duplication in setup.py
  python/setup.py
Due: none

docs: add missing test modules to documentation and test runner
  python/tests/README.md
  python/tests/run_tests.py
Due: python-tests

Complete pytest migration with 121 comprehensive tests
  .gitignore
  python/precommit/run-tests.sh
  python/pyproject.toml
  python/setup.py
  python/tests/README.md
  python/tests/conftest.py
  python/tests/run_tests.py
  python/tests/test_basic_functionality.py
  python/tests/test_complete_workflow.py
  python/tests/test_data_validation.py
  python/tests/test_error_handling.py
  python/tests/test_integration.py
  python/tests/test_mdoc_operations.py
  python/tests/test_presentation_session.py
  python/tests/test_protocol_compliance.py
  python/tests/test_reader_functionality.py
  python/tests/test_security.py
  python/tests/test_selective_disclosure.py
  python/tests/test_state_machine.py
Due: python-tests

feat: upgrade Rust edition from 2021 to 2024
  rust/Cargo.toml
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

ci: Replace Black and Flake8 with Ruff in GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

ci: Add uv.lock for dependency caching
  .gitignore
  python/uv.lock
Due: none

fix: Install pytest dev dependencies in test script
  python/precommit/run-tests.sh
  python/uv.lock
Due: none

ci: Use pytest for selective disclosure tests instead of custom run_tests function
  .github/workflows/ci.yml
Due: none

Add appropriate license headers to source files
  kotlin/build.gradle.kts
  kotlin/settings.gradle.kts
  kotlin/src/androidUnitTest/kotlin/tech/indicio/isomdl_uniffi/Test.android.kt
  kotlin/src/commonMain/kotlin/tech/indicio/isomdl_uniffi/uniffiStack.kt
  kotlin/src/commonTest/kotlin/tech/indicio/isomdl_uniffi/Test.kt
  kotlin/src/iosTest/kotlin/tech/indicio/isomdl_uniffi/Test.ios.kt
  license-template-indicio.txt
  license-template-with-spruceid.txt
  python/build.py
  python/precommit/build-bindings.sh
  python/precommit/run-tests.sh
  python/pyproject.toml
  python/setup.py
  python/test-bindings.py
  python/tests/conftest.py
  python/tests/run_tests.py
  python/tests/test_basic_functionality.py
  python/tests/test_data_validation.py
  python/tests/test_error_handling.py
  python/tests/test_integration.py
  python/tests/test_mdoc_operations.py
  python/tests/test_presentation_session.py
  python/tests/test_protocol_compliance.py
  python/tests/test_reader_functionality.py
  python/tests/test_security.py
  python/tests/test_selective_disclosure.py
  python/tests/test_state_machine.py
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/mod.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

Add appropriate license headers to source files (#7)
  kotlin/build.gradle.kts
  kotlin/settings.gradle.kts
  kotlin/src/androidUnitTest/kotlin/tech/indicio/isomdl_uniffi/Test.android.kt
  kotlin/src/commonMain/kotlin/tech/indicio/isomdl_uniffi/uniffiStack.kt
  kotlin/src/commonTest/kotlin/tech/indicio/isomdl_uniffi/Test.kt
  kotlin/src/iosTest/kotlin/tech/indicio/isomdl_uniffi/Test.ios.kt
  license-template-indicio.txt
  license-template-with-spruceid.txt
  python/build.py
  python/precommit/build-bindings.sh
  python/precommit/run-tests.sh
  python/pyproject.toml
  python/setup.py
  python/test-bindings.py
  python/tests/conftest.py
  python/tests/run_tests.py
  python/tests/test_basic_functionality.py
  python/tests/test_data_validation.py
  python/tests/test_error_handling.py
  python/tests/test_integration.py
  python/tests/test_mdoc_operations.py
  python/tests/test_presentation_session.py
  python/tests/test_protocol_compliance.py
  python/tests/test_reader_functionality.py
  python/tests/test_security.py
  python/tests/test_selective_disclosure.py
  python/tests/test_state_machine.py
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/mod.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

feat: change UUID parameter from Uuid type to String
  python/tests/test_error_handling.py
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

Update license headers to credit Spruce Systems first, then Indicio
  license-template-with-spruceid.txt
  rust/src/lib.rs
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/mod.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

Add comprehensive licensing structure for dual copyright
  THIRD_PARTY_LICENSES.md
  rust/LICENSE-SPRUCE-APACHE
  rust/LICENSE-SPRUCE-MIT
  rust/uniffi-bindgen.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

Remove copyright headers from Kotlin files
  holder-main.rs
  holder-old.rs
  kotlin/build.gradle.kts
  kotlin/settings.gradle.kts
  kotlin/src/androidUnitTest/kotlin/tech/indicio/isomdl_uniffi/Test.android.kt
  kotlin/src/commonMain/kotlin/tech/indicio/isomdl_uniffi/uniffiStack.kt
  kotlin/src/commonTest/kotlin/tech/indicio/isomdl_uniffi/Test.kt
  kotlin/src/iosTest/kotlin/tech/indicio/isomdl_uniffi/Test.ios.kt
  uuid-changes.patch
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

Revert "Remove copyright headers from Kotlin files"
  holder-main.rs
  holder-old.rs
  kotlin/build.gradle.kts
  kotlin/settings.gradle.kts
  kotlin/src/androidUnitTest/kotlin/tech/indicio/isomdl_uniffi/Test.android.kt
  kotlin/src/commonMain/kotlin/tech/indicio/isomdl_uniffi/uniffiStack.kt
  kotlin/src/commonTest/kotlin/tech/indicio/isomdl_uniffi/Test.kt
  kotlin/src/iosTest/kotlin/tech/indicio/isomdl_uniffi/Test.ios.kt
  uuid-changes.patch
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

feat: Convert UUID handling from Uuid type to String
  python/tests/test_error_handling.py
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

feat: Convert UUID handling from Uuid type to String
  .gitignore
  python/tests/test_error_handling.py
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

Update Spruce Systems URL in util.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

Update Spruce Systems URL in remaining files
  rust/src/lib.rs
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/mod.rs
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

fix(python): update expected exception for invalid UUID tests
  python/tests/test_error_handling.py
Due: python-tests

feat: add create_and_sign_mdl helper and tests
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

feat: add stateless OID4VP verification support
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests

test: add comprehensive Python tests for OID4VP verification
  python/tests/test_oid4vp_verification.py
Due: python-tests

Path conditions:
  cargo-check: any of: \.rs$|Cargo\.(toml|lock)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock)$
  cargo-fmt-check: any of: \.rs$
  python-bindings-build: any of: \.rs$|Cargo\.(toml|lock)$|uniffi-bindgen\.rs$
  python-tests: any of: \.rs$|Cargo\.(toml|lock)$|^python/tests/.*\.py$
