Repository Indicio-tech/isomdl-uniffi: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

cargo-check:
  name: Cargo Check (Rust crate)
  entry: bash -c "cd rust && cargo check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-test:
  name: Cargo Test (Rust tests)
  entry: bash -c "cd rust && cargo test"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-fmt-check:
  name: Cargo Format Check
  entry: bash -c "cd rust && cargo fmt -- --check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

python-bindings-build:
  name: Build Python Bindings
  entry: ./python/precommit/build-bindings.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

python-tests:
  name: Run Python Tests
  entry: ./python/precommit/run-tests.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

kotlin-build-check:
  name: Kotlin Build Check
  entry: bash -c "cd kotlin && ./gradlew compileKotlinJvm --no-daemon"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

kotlin-android-check:
  name: Kotlin Android Build Check
  entry: bash -c "cd kotlin && ./gradlew compileDebugSources --no-daemon"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

style: apply cargo fmt
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat: support for oid4vp holder flows
  kotlin/build.gradle.kts
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/mdl/mdoc.rs
  rust/src/oid4vp/mod.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: use convert_namespaces_json in PreparedMdoc::new() after rebase onto main
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix(bindings): regenerate Python bindings for uniffi 0.29.5 (contract version 29)
  python/isomdl_uniffi/isomdl_uniffi.py
Due: none

fix(bindings): regenerate Python bindings from correctly rebuilt library
  python/isomdl_uniffi/isomdl_uniffi.py
Due: none

build(linux): linux-x86-64 native build for the isomdl uniffi bindings
  kotlin/build.gradle.kts
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat(oid4vp): accept DCQL query in mdoc authorization request
  rust/src/oid4vp/mod.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

chore(release): bump to 0.1.1 / kotlin 0.0.3 for DCQL support
  kotlin/build.gradle.kts
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

chore(release): bump to rust 0.1.1 / kotlin 0.0.3 for DCQL
  kotlin/build.gradle.kts
  rust/Cargo.lock
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat(oid4vp): accept DCQL query in mdoc authorization request (#30)
  kotlin/build.gradle.kts
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/oid4vp/mod.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat: initial kotlin distribution work
  .cargo/config.toml
  .github/workflows/kotlin-release.yml
  kotlin/build.gradle.kts
  mise.toml
  mise/scripts/aarch64-unknown-linux-gnu-cc.sh
  mise/scripts/x86_64-unknown-linux-gnu-cc.sh
Due: none

fix: rust-pr-check installs zig for linking
  .github/workflows/pr-checks.yml
Due: none

fix: install rust components via mise
  .github/workflows/pr-checks.yml
  mise.toml
Due: none

fix: install rust components via mise
  .github/workflows/ci.yml
Due: none

feat: initial kotlin distribution work (#31)
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/kotlin-release.yml
  .github/workflows/pr-checks.yml
  kotlin/build.gradle.kts
  mise.toml
  mise/scripts/aarch64-unknown-linux-gnu-cc.sh
  mise/scripts/x86_64-unknown-linux-gnu-cc.sh
Due: none

fix: set github values for CI/CD
  kotlin/build.gradle.kts
Due: none

fix: disable mingwx64 for right now
  .github/workflows/kotlin-release.yml
  kotlin/build.gradle.kts
Due: none

fix: windows mingw builds
  .github/workflows/kotlin-release.yml
  kotlin/build.gradle.kts
Due: none

Enable mingw (windows) JVM builds (#32)
  .github/workflows/kotlin-release.yml
  kotlin/build.gradle.kts
Due: none

Expose MSO status claim on OID4VP presentation verification
  python/isomdl_uniffi/isomdl_uniffi.py
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

Add optional status claim support for revocable mdoc issuance
  python/isomdl_uniffi/isomdl_uniffi.py
  python/tests/test_chaining.py
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

chore: formatting
  python/tests/README.md
  python/tests/test_chaining.py
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

Fix MSO status decode: payload is Tag24-wrapped, not raw Mso bytes
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

chore: rename to status_list
  python/isomdl_uniffi/isomdl_uniffi.py
  python/tests/test_chaining.py
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat: updates for isomdl status addition
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

test: update tests for isomdl changes
  typescript/tests/credo_oid4vp.test.ts
  typescript/tests/generate_device_response.test.ts
Due: none

feat: edits from review
  python/tests/README.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/mdl/holder.rs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: whitespace for PR checks
  python/tests/README.md
Due: none

chore(release): prepare 0.2.0-indicio.1
  .github/workflows/release.yml
  python/isomdl_uniffi/__init__.py
  python/pyproject.toml
  python/uv.lock
  rust/Cargo.lock
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

ci: install supported Android SDK packages
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

ci: install Zig for Kotlin builds
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

test: pass optional status list in Kotlin
  kotlin/src/commonTest/kotlin/tech/indicio/isomdl_uniffi/Test.kt
Due: kotlin-build-check, kotlin-android-check

fix(release): build one UniFFI wheel per platform
  .github/workflows/release.yml
Due: none

fix(release): use system linker in manylinux
  .github/workflows/release.yml
Due: none

chore: update kotlin version for indicio build
  kotlin/build.gradle.kts
Due: none

Path conditions:
  cargo-check: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$
  cargo-test: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$
  cargo-fmt-check: any of: ^rust/.*\.rs$
  python-bindings-build: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^rust/uniffi-bindgen\.rs$
  python-tests: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^python/tests/.*\.py$
  kotlin-build-check: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^kotlin/.*\.(kt|gradle)$|^kotlin/gradle\.properties$
  kotlin-android-check: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^kotlin/.*\.(kt|gradle)$|^kotlin/gradle\.properties$
