Repository Indicio-tech/isomdl-uniffi: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

cargo-check:
  name: Cargo Check (Rust crate)
  entry: bash -c "cd rust && cargo check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-test:
  name: Cargo Test (Rust tests)
  entry: bash -c "cd rust && cargo test"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-fmt-check:
  name: Cargo Format Check
  entry: bash -c "cd rust && cargo fmt -- --check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

python-bindings-build:
  name: Build Python Bindings
  entry: ./python/precommit/build-bindings.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

python-tests:
  name: Run Python Tests
  entry: ./python/precommit/run-tests.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

kotlin-build-check:
  name: Kotlin Build Check
  entry: bash -c "cd kotlin && ./gradlew compileKotlinJvm --no-daemon"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

kotlin-android-check:
  name: Kotlin Android Build Check
  entry: bash -c "cd kotlin && ./gradlew compileDebugSources --no-daemon"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

improved rust code
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/mdl/mdoc.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

style: fix lint and formatting issues
  python/tests/test_oid4vp_verification.py
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: resolve clippy collapsible-if warning
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

style: fix rust formatting
  rust/src/mdl/mdoc.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat: add stateless OID4VP verification support (#16)
  python/tests/test_oid4vp_verification.py
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat: add intermediate certificate chaining support
  python/pyproject.toml
  python/tests/test_chaining.py
  python/uv.lock
  rust/src/mdl/mdoc.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: update error handling tests to expect InternalError for invalid UUIDs
  python/tests/test_error_handling.py
Due: python-tests

fix: resolve clippy warnings and python linting issues
  python/tests/test_chaining.py
  rust/src/mdl/mdoc.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat: add intermediate certificate chaining support for OID4VP
  python/tests/test_error_handling.py
  python/tests/test_oid4vp_verification.py
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/mdl/reader.rs
  rust/tests/intermediate_chaining.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

test: add cross-language verification infrastructure
  .gitignore
  python/tests/generate_cross_language_artifacts.py
  python/tests/test_cross_language_verification.py
  typescript/jest.config.js
  typescript/package-lock.json
  typescript/package.json
  typescript/tests/credo_oid4vp.test.ts
  typescript/tests/generate_device_response.test.ts
  typescript/tests/mdl_verification.test.ts
  typescript/tests/sphereon_experiment.test.ts
  typescript/tests/sphereon_oid4vp.test.ts
  typescript/tsconfig.json
Due: python-tests

test: add cross-language verification to CI and refactor python tests
  .github/workflows/ci.yml
  python/MANIFEST.in
  python/precommit/run-tests.sh
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/generate_cross_language_artifacts.py
  python/tests/run_tests.py
  python/tests/test_cross_language_verification.py
  python/tests/utils.py
  typescript/tests/credo_oid4vp.test.ts
  typescript/tests/generate_device_response.test.ts
  typescript/tests/mdl_verification.test.ts
  typescript/tests/sphereon_experiment.test.ts
  typescript/tests/sphereon_oid4vp.test.ts
Due: python-tests

fix: no nightly compilor features
  license-template-with-spruceid.txt
  python/tests/test_cross_language_verification.py
  python/tests/utils.py
  rust/LICENSE-SPRUCE-APACHE
  rust/LICENSE-SPRUCE-MIT
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
  typescript/tests/credo_oid4vp.test.ts
  typescript/tests/generate_device_response.test.ts
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: update OID4VP handover to 2024 spec (Appendix B.2.6.1)
  rust/src/mdl/reader.rs
  typescript/tests/credo_oid4vp.test.ts
  typescript/tests/generate_device_response.test.ts
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat: add legacy OID4VP session transcript format support for backwards compatibility
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

update credo in tests
  rust/src/mdl/reader.rs
  typescript/package-lock.json
  typescript/package.json
  typescript/tests/sphereon_experiment.test.ts
  typescript/tests/sphereon_oid4vp.test.ts
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: happy clippy check
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: rust formatting
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

feat: add doc_type field to MDLReaderVerifiedData
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix(tests): add rust/out/python to PYTHONPATH in test runner
  python/precommit/run-tests.sh
Due: none

fix: removed debug logs
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

dry: cleaner code
  python/tests/test_chaining.py
  rust/src/mdl/mdoc.rs
  rust/src/mdl/reader.rs
  rust/src/mdl/util.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: use datetime.timezone.utc for Python 3.9 compatibility
  python/tests/test_chaining.py
Due: python-tests

fix: Replace custom build script with standard setuptools integration
  python/pyproject.toml
  python/setup.py
Due: none

fix: Only cross-compile on macOS, use native build on Linux
  python/setup.py
Due: none

feat: Switch to maturin for Python wheel building
  .github/workflows/ci.yml
  .github/workflows/release.yml
  python/README.md
  python/pyproject.toml
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: Add module-name to maturin config
  python/pyproject.toml
Due: none

fix: Remove python-source from maturin config
  python/pyproject.toml
Due: none

fix: Build separate macOS wheels for Intel and ARM
  .github/workflows/release.yml
Due: none

fix: Update macOS build conditionals for separate Intel/ARM wheels
  .github/workflows/release.yml
Due: none

fix: Use macos-15-intel runner (macos-13 is deprecated)
  .github/workflows/release.yml
Due: none

fix: Include __init__.py in wheel builds
  .gitignore
  python/isomdl_uniffi/__init__.py
Due: none

fix(maturin): include Python source files in wheel build
  python/pyproject.toml
Due: none

fix(maturin): remove python-source to fix wheel structure
  python/pyproject.toml
Due: none

fix: include generated Python bindings in repo for reliable wheel builds
  .gitignore
  python/isomdl_uniffi/__init__.py
  python/isomdl_uniffi/isomdl_uniffi.py
Due: none

fix: use importlib to load bindings module explicitly
  python/isomdl_uniffi/__init__.py
Due: none

fix: symlink native library for importlib-based loading
  python/isomdl_uniffi/__init__.py
Due: none

fix: rename Rust lib to avoid nested wheel structure
  python/isomdl_uniffi/__init__.py
  python/isomdl_uniffi/isomdl_uniffi.py
  python/precommit/build-bindings.sh
  rust/Cargo.toml
Due: cargo-check, cargo-test, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: extend DS cert validity to 10 years and derive subject from IACA cert
  python/tests/test_chaining.py
  rust/src/mdl/mdoc.rs
  rust/src/mdl/util.rs
  rust/tests/intermediate_chaining.rs
  typescript/tests/credo_oid4vp.test.ts
  typescript/tests/generate_device_response.test.ts
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

fix: apply rustfmt, upgrade time crate, ignore bincode unmaintained advisory
  .github/workflows/ci.yml
  rust/Cargo.lock
  rust/src/mdl/mdoc.rs
  rust/src/mdl/util.rs
  rust/tests/intermediate_chaining.rs
Due: cargo-check, cargo-test, cargo-fmt-check, python-bindings-build, python-tests, kotlin-build-check, kotlin-android-check

Path conditions:
  cargo-check: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$
  cargo-test: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$
  cargo-fmt-check: any of: ^rust/.*\.rs$
  python-bindings-build: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^rust/uniffi-bindgen\.rs$
  python-tests: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^python/tests/.*\.py$
  kotlin-build-check: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^kotlin/.*\.(kt|gradle)$|^kotlin/gradle\.properties$
  kotlin-android-check: any of: ^rust/.*\.rs$|^rust/Cargo\.(toml|lock)$|^kotlin/.*\.(kt|gradle)$|^kotlin/gradle\.properties$
